body{
	font-family: Arial, sans-serif;
	margin: 40px;
	background-color: #FFFFFF;
}

h1{
	text-align:center;
	color: #2c3e50;
}

#image, #text{
	margin-top: 30px;
	padding: 20px;
	background: #FFFFFF;
	border-radius: 10px;
}

img{
	display: block;
	margin: 0 auto 15px;
	border-radius: 6px;
}
