body{
	font-family: Arial, sans-serif;
	margin: 40px;
	background-color: black;
	color: white;
}

#container{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: flex-start;
}

#text{
	color:white;
}

#image{
	float:right;
	text-align: right;
}
p{
	 color:white;
}

a{
	background-color: grey;
	color: white;
	padding: 5px 10px;
}

a:hover{
	background-color: grey
	color:black
}
